[user]
  email = VladimirRybas@gmail.com
  name = Vladimir Rybas

[alias]
  st = status
  lpc = log -p -c
  lc = log
  lco = log --pretty=oneline --decorate
  lx = log --graph --pretty=format:'%s - %Cred%h%Creset  %Cgreen(%cr)%Creset %an' --abbrev-commit --date=relative --all
  lst = log --stat
  co = checkout
  dfc = diff
  ai = add -i
  c = commit
  m = commit -m
  a = add
  showrel = name-rev --name-only
  igndb = update-index --assume-unchanged config/database.yml
  igngitign = update-index --assume-unchanged .gitignore
  cldb = checkout config/database.yml

[color]
  status = auto
  branch = auto
  diff = auto
  interactive = auto
  ui = true

[rerere]
  enabled = 1

[web]
  browser = chrome

[browser "chrome"]
  cmd = /usr/bin/google-chrome
